<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/camara.css">

    <title>Live Streaming</title>
</head>
<div class="box">
    <div class="form">
        <h2>CAMARA DE CUPI</h2>
        
        <div class="inputBox">
            <h2></h2>
            <h2>Live Streaming</h2>
            <input type="submit" class="button" onclick="location.href='videoCamara';" value="video camara"></input>
        </div>


    </div>
</div>

</body>
</html> 