<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/login2.css">  
</head>
<body>
<div class="box">
    <div class="form">
        <h2>BIENVENIDO A CUPI
            JUGADOR:</h2>
        <div class="inputBox">
            
            <input type="text" required="required">
            <span>Nombre</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="number" required="required">
            <span>Edad</span>
            <i></i>
        </div>
        <div class="links">
<br>
        </div>
        <input type="submit" class="button" onclick="location.href='/compilador';" value="Empezar"></input>


    </div>
</div>

    
</body>
</html>